<!doctype html>
<html ng-app>
	<head>
		<title>gudenof</title>
		<script type="text/javascript" src="libs/angular-1.0.2/angular.min.js"></script>
		<script type="text/javascript" src="humans.js"></script>
		<script type="text/javascript" src="computers.js"></script>
		<script type="text/javascript" src="controller.js"></script>
		<style type="text/css">
			body {
				background: #e1d59d;
			}

			.board {
				float: left;
				width: 462px;
				height: 462px;
				border: 1px solid black;
			}

			.row {
				float: left;
				width: 462px;
				height: 64px;
				border-top: 1px solid black;
				border-bottom: 1px solid black;
			}

			.cell {
				float: left;
				width: 64px;
				height: 64px;
				border-right: 1px solid black;
				border-left: 1px solid black;
			}
		</style>
	</head>
	<body ng-controller="BlobsCtrl">
		<div class="board">
			<div class="row" ng-repeat="row in board">
				<div class="cell" ng-repeat="cell in row" ng-click="activeAI.handleClick(cell.i, cell.j)">
					<img ng-show="cell.color" ng-src="img/{{cell.color}}.png" />
				</div>
			</div>
		</div>
		<button ng-click="activeAI.handlePass()">Pass Turn</button>
		<h1 style="color:#fff">White: {{counts.white}}</h1>
		<h1 style="color:#000">Black: {{counts.black}}</h1>
	</body>
</html>